<ng-container>
  <div class="px-3 px-lg-5 mt-3">
    <div class="row">
      <div class="col-12 col-md-8">
        <mat-card class="mb-3">
          <mat-card-header>
            <mat-card-title>
              <h1 class="mat-h1">Alexis Skodak's Website</h1>
              <h2 class="mat-h2">I Live in Lyon, France. I love Computer Science and Photography.</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h2 class="mat-h2">In this website you'll find some of my current projects.</h2>
              <p>Some of the stuff I can do:</p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <mat-icon class="mr-3">code</mat-icon> Rapid RESTful API development
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="mr-3">code</mat-icon> Frontend development / integration
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="mr-3">code</mat-icon> Agile project management (SCRUM)
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="mr-3">code</mat-icon> UX / UI Design basics
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="mr-3">code</mat-icon> Basic data analysis knowledge and database management
              </mat-list-item>
            </mat-list>
            <hr>
            <div class="mat-typography">
              <h2 class="mat-h2 text-center">My favorite technologies right now</h2>
            </div>

            <div class="row text-center">
              <div class="col-6 col-md-3 mb-4">
                <img src="assets/images/python.png" height="64" alt="Python">
              </div>
              <div class="col-6 col-md-3 mb-4">
                <img src="assets/images/django.png" height="64" alt="Django">
              </div>
              <div class="col-6 col-md-3 mb-4">
                <img src="assets/images/postgresql.png" height="64" alt="PostgreSQL">
              </div>
              <div class="col-6 col-md-3 mb-4">
                <img src="assets/images/angular.png" height="64" alt="Angular">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="my-3">
          <h2 class="mat-h2">
            My main Web development projects so far
          </h2>
        </mat-card>
        <mat-card class="mb-3">
          <mat-card-header>
            <div mat-card-avatar>
              <img src="assets/images/scariff.png" alt="Scariff Realtors Logo" height="48px">
            </div>
            <mat-card-title>
              <h2 class="mat-h2"><a href="https://scariff.com.mx">Scariff
                <mat-icon>launch</mat-icon>
              </a></h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h3 class="mat-h3">Scariff is a Real Estate agency based in Mexico City</h3>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-tab-group>
            <mat-tab label="Overview">
              <mat-card-content>
                <p class="text-justify mt-3">
                  Design, A-Z development and deployment of a web application hosted on Google App Engine. Technical
                  stack is mainly
                  Python using the Django Framework as a backend.
                  Frontend consists both of Bootstrap Layout and Components as well as custom HTML/CSS.
                  I chose this tech stack mainly because clients main requirements were:
                </p>
                <mat-list>
                  <mat-list-item>
                    <mat-icon class="mr-3">check_circle_outline</mat-icon> Simple UX/UI
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon class="mr-3">check_circle_outline</mat-icon> Sober design
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon class="mr-3">check_circle_outline</mat-icon> Maximum stability for CRUD operations
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon class="mr-3">check_circle_outline</mat-icon> Easy scalability
                  </mat-list-item>
                </mat-list>
                <p class="text-justify mt-3">
                  Overall it was a great project during which I learnt a lot both on a technical level,
                  and on a professional level. I learnt for instance how to deal with client requirements, deadlines,
                  time management...
                </p>
              </mat-card-content>
            </mat-tab>
            <mat-tab label="Components">
              <mat-card-content>
                <h3 class="mat-h3 mt-3">
                  Here are some custom components
                </h3>
                <div class="row w-100">
                  <div class="col-12 col-lg-6">
                    <h2 class="mat-h2">Card</h2>
                    <img src="assets/images/scariff_card.png" alt="Listing card" height="350">
                  </div>
                  <div class="col-12 col-lg-6">
                    <h2 class="mat-h2">Advanced search</h2>
                    <embed type="video/webm" src="assets/images/scariff_searchbar.webm" alt="Search bar video"
                           height="500">
                  </div>
                  <div class="col-12 col-lg-6">
                    <h2 class="mat-h2">Listing Details</h2>
                    <h5 class="mat-h5">With Embed Maps API Integration</h5>
                    <embed type="video/webm" src="assets/images/listing_details.webm" alt="Listing sheet video"
                           height="500">
                  </div>
                </div>
              </mat-card-content>
            </mat-tab>
            <mat-tab label="Feedback">
              <div class="row w-100 my-3">
                <div class="col-12">
                  <h4 class="mat-h4 mt-3">These scores were obtained via SEOptimer Audit Tool</h4>
                </div>
                <div class="col-6 col-md-4 col-lg-2 justify-content-center">
                  <p>SEO</p>
                  <img src="assets/images/SEO.png" height="96" alt="SEO Score">
                </div>
                <div class="col-6 col-md-4 col-lg-2 justify-content-center">
                  <p>Usability</p>
                  <img src="assets/images/USABILITY.png" height="96" alt="Usability Score">
                </div>
                <div class="col-6 col-md-4 col-lg-2 justify-content-center">
                  <p>Performance</p>
                  <img src="assets/images/PERFORMANCE.png" height="96" alt="Performance Score">
                </div>
                <div class="col-6 col-md-4 col-lg-2 justify-content-center">
                  <p>Social</p>
                  <img src="assets/images/SOCIAL.png" height="96" alt="Social Score">
                </div>
                <div class="col-6 col-md-4 col-lg-2 justify-content-center">
                  <p>Security</p>
                  <img src="assets/images/SECURITY.png" height="96" alt="Security Score">
                </div>
              </div>
              <p class="text-muted">Although SEOptimer has its limits, it can be a useful tool to spot easily
                forgettable errors</p>
              <p class="text-muted">
                It also gives useful insight for SEO elements' presence (or their absence thereof) such as but not limited to:
              </p>
              <ul class="text-muted">
                <li>Open Graph / Twitter Card sharing</li>
                <li>Keywords, description meta tags</li>
                <li>Keyword consistency</li>
                <li>XML Sitemaps</li>
                <li>Robots.txt rules</li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
        <mat-card class="mb-3">
          <mat-card-header>
            <div mat-card-avatar>
              <img src="assets/images/django.png" alt="Django Logo" height="48px">
            </div>
            <mat-card-title>
              <h2 class="mat-h2">
                <a href="https://w2goapi-294910.ew.r.appspot.com/">W2GO - API
                <mat-icon>launch</mat-icon>
                </a>
              </h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h3 class="mat-h3">Backend to a React App that generates itineraries based on user input</h3>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-tab-group>
            <mat-tab label="Overview">
              <mat-card-content>
                <p class="text-justify mt-3">
                  Rest API and intermediary between the frontend application and Google Maps Places API.
                  It handles GET requests to retrieve a list of places nearby the user's location and
                  GET, PUT, POST and DELETE requests for custom "Step" and "Itinerary" objects
                  which are stored in a database. It's already up and running but we are facing
                  some challenges, such as:
                </p>
                <mat-list>
                  <mat-list-item class="my-3 my-md-0">
                    <mat-icon class="mr-3">note_add</mat-icon>
                    <p class="text-justify">Reducing response time for a large list of places</p>
                  </mat-list-item>
                  <mat-list-item class="my-3 my-md-0">
                    <mat-icon class="mr-3">note_add</mat-icon>
                    <p class="text-justify">Reducing the number of API calls to Google Maps</p>
                  </mat-list-item>
                  <mat-list-item class="my-3 my-md-0">
                    <mat-icon class="mr-3">note_add</mat-icon>
                    <p class="text-justify">Better dynamic instantiation of compute engines to support large number of requests</p>
                  </mat-list-item>
                </mat-list>
                <p class="text-justify mt-3">
                  Current tech stack was chosen for ease of use and rapid implementation, but given the challenges we are facing
                  we are considering migrating the APIs resources towards independent, robust and reliable microservices.
                </p>
              </mat-card-content>
            </mat-tab>
            <mat-tab label="How it works">
              <mat-card-content>
                <h2 class="mat-h2 mt-3">Sample request</h2>
                <pre>
                  <code>
                    $.ajax('{{
                        url: `${base_url}/api/gmaps-places/?location=${location}&keyword=${type}&radius=${radius}`,
                        type: "GET",
                        dataType: "json",
                        xhrFields: { withCredentials: true },
                        headers: { Authorization: 'Token ' + MY_TOKEN},

                        success: function(response) {
                            console.log(response);
                        },

                        error: function(error) {
                            console.log(error);
                        }
                    });
                  </code>
                </pre>
                <h2 class="mat-h2 mt-3">Sample response</h2>
                <pre>
                  <code>
                    '{
                    "name": "La Boîte à Café",
                    "formatted_address": "78 Rue de Provence, 75009 Paris, France",
                    "location":
                      {
                        "lat": 48.8743529,
                        "lng": 2.3314805
                      },
                    "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                    "photos": "https://maps.googleapis.com/maps/api/place/photo?maxwidth=20wjRl58zEeXbw&key=API_KEY",
                    "rating": 4.5,
                    "types": [ "bakery", "cafe", "restaurant" ]
                    }
                  </code>
                </pre>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
      <div class="col-12 col-md-4">
        <div class="my-3 mt-md-0">
          <img src="assets/images/portrait.jpg" alt="My picture" class="rounded-circle mat-elevation-z5" width="100%">
        </div>
        <mat-card class="sticky-social">
          <mat-card-header>
            <mat-card-title>
              <h2 class="mat-h2">Follow me online here:</h2>
              <mat-list>
                <mat-list-item>
                  <img src="assets/images/linkedin.png" alt="LinkedIn" height="32" class="mr-3">
                  <a href="https://www.linkedin.com/in/alexis-skodak/">Linkedin</a>
                </mat-list-item>
                <mat-list-item>
                  <img src="assets/images/github.png" alt="GitHub" height="32" class="mr-3">
                  <a href="https://github.com/sickb0i">GitHub</a>
                </mat-list-item>
              </mat-list>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
