<ng-container *ngIf="!post else postView">
  <div class="container-fluid mt-3 px-3 px-xl-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <mat-card class="mb-3">
          <mat-card-title>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'border-radius': '5px',
                height: '25px',
                width: '300px',
                'background-color': 'primary'}">
            </ngx-skeleton-loader>
          </mat-card-title>
          <mat-card-content>
            <ngx-skeleton-loader
              count="3"
              [theme]="{
                'border-radius': '5px',
                height: '25px',
                width: '200px',
                'background-color': 'primary'}">
            </ngx-skeleton-loader>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-8">
        <mat-card class="mb-3">
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #postView>
  <div class="container-fluid mt-3 px-3 px-xl-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <mat-card class="mb-3">
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-content>
            <p class="text-justify">
              {{ post.body }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4">
        <aside>
          <mat-card class="mb-3">
            <mat-card-title class="mb-3">
              <h2 class="mat-h2">Edit post</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h3 class="mat-h3 text-uppercase">
                <code class="text-muted">GET, PUT, DELETE</code>
              </h3>
            </mat-card-subtitle>
            <form #f="ngForm" (ngSubmit)="editPost(f)" novalidate>
              <div>
                <mat-form-field class="example-form-field w-100" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput #title type="text" name="title" minlength="5" maxlength="128" ngModel required [disabled]="submitted">
                  <mat-hint align="end">{{ title.value.length }}</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="example-form-field w-100" appearance="outline">
                  <mat-label>Body</mat-label>
                  <textarea matInput name="body" rows="4" ngModel [disabled]="submitted">
                  </textarea>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="primary" class="mr-3" type="submit">Submit</button>
                <button mat-raised-button color="warn" (click)="removePost(post.id)" type="button">
                  Delete
                </button>
              </div>
            </form>
          </mat-card>
        </aside>
      </div>
    </div>
  </div>
</ng-template>
