<mat-toolbar color="primary" class="mb-5 mat-elevation-z6">
  <span>
    <button mat-flat-button color="primary" [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>
  </span>
  <span>
    <a [routerLink]="['posts']" class="text-decoration-none text-white mr-3">Sample Blog</a>
    <a [routerLink]="['crypto']" class="text-decoration-none text-white">Crypto</a>
  </span>
  <span class="fill"></span>
  <button mat-flat-button [matMenuTriggerFor]="menu" aria-label="Contact menu" color="primary">
    Contact
  </button>
  <mat-menu #menu="matMenu" class="mat-elevation-z4 mt-1">
    <a href="https://www.linkedin.com/in/alexis-skodak/">
      <button mat-menu-item>
        <mat-icon>launch</mat-icon>
        <span>LinkedIn</span>
      </button>
    </a>
    <a href="https://github.com/sickb0i">
      <button mat-menu-item>
        <mat-icon>launch</mat-icon>
        <span>GitHub</span>
      </button>
    </a>
  </mat-menu>
</mat-toolbar>

<router-outlet>

</router-outlet>
