@import "~@angular/material/theming";

@include mat-core();

$md-mcgpalette0: (
  50 : #e2ecf5,
  100 : #b6cee5,
  200 : #86aed4,
  300 : #558ec3,
  400 : #3075b6,
  500 : #0c5da9,
  600 : #0a55a2,
  700 : #084b98,
  800 : #06418f,
  900 : #03307e,
  A100 : #acc4ff,
  A200 : #79a0ff,
  A400 : #467cff,
  A700 : #2c6aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-mcgpalette1: (
  50 : #fffbe7,
  100 : #fff6c4,
  200 : #fff09d,
  300 : #ffea76,
  400 : #ffe658,
  500 : #ffe13b,
  600 : #ffdd35,
  700 : #ffd92d,
  800 : #ffd526,
  900 : #ffcd19,
  A100 : #ffffff,
  A200 : #fffffd,
  A400 : #fff3ca,
  A700 : #ffedb1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat-palette($md-mcgpalette0);
$my-accent: mat-palette($md-mcgpalette1);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);
